@charset "UTF-8";
@import "reset.css";
@import "colors.css";
@import "typography.css";

/* general styles */

html {
  width: 100%;
  height: 100%;
  background: black;
  color: var(--color-secondary);
  line-height: 1.5em;
  font-size: 1.2em;
  font-style: normal;
  font-weight: normal;
  text-rendering: optimizeSpeed;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h2,
h3,
h4,
h5,
h6 {
  text-transform: uppercase;
  margin-top: 1rem;
  color: var(--color-primary);
  text-align: center;
  font-family: Druk X;
  padding-top: 3rem;
}

button {
  display: inline-block;
  background-color: var(--color-primary);
  color: var(--color-foreground);
  text-decoration: none;
  padding: 0.75rem 1em;
  margin: 0.5rem 0.25em;
  border-radius: 0.5rem;
  vertical-align: middle;
  white-space: nowrap;
  font-weight: 600;
}

button:hover {
  color: var(--color-foreground);
  background-color: var(--color-primary-level-2);
  outline: none;
}

button:active {
  opacity: 0.85;
}

button:visited {
  color: var(--color-primary-level-4);
}

strong {
  font-weight: 800;
}

/* specific styles */
/* .wrapper {
  max-width: 77.5rem;
  padding: 2rem;
  margin: 0;
  position: absolute;
  background: black;
} */

header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  max-width: 36rem;
  margin: 0 auto;
}

header > p:nth-child(3) {
  padding: 1rem 0;
}

h1 {
  font-family: "Druk X";
  text-align: center;
  font-size: 200px;
  line-height: 0.8;
  padding-top: 1rem;
  font-weight: normal;
  background: linear-gradient(
    345.28deg,
    #5555ff 26.4%,
    #55ff55 46.15%,
    #ff55ff 62.67%
  );
  color: #000;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin-top: 2rem;
}

#stats {
  display: flex;
  justify-content: space-between;
  flex-flow: wrap;
}

.stat-block {
  width: 50%;
  height: 17rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.stat-block:first-child h2,
.stat-block:last-child h2 {
  color: var(--color-positive);
}

.stat-block h2 {
  line-height: 100%;
}

.stat-block * {
  display: flex;
}

h2 {
  font-family: "Druk X";
  text-align: center;
  font-size: 200px;
  padding-top: 1rem;
  font-weight: normal;
}

header svg {
  width: 100vw;
  position: absolute;
}

.graph {
  width: 48rem;
  position: relative;
  margin: 0 auto;
}

.ticker {
  position: absolute;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  width: 100%;
  left: 50%;
  transform: translate(-50%, 0);
  top: 6rem;
}

#price {
  font-family: Druk X;
  font-size: 20rem;
  line-height: 0.8;
}

.rad {
}

.low {
  border-bottom: 2px dotted var(--color-primary);
}

.mean {
  border-bottom: 2px dotted var(--color-secondary);
}

.tv-lightweight-charts {
  margin-bottom: 1em;
}

.startend {
  display: flex;
  justify-content: space-between;
  color: var(--color-primary);
  font-size: 0.75rem;
  text-transform: uppercase;
}
