@import url("https://rsms.me/inter/inter.css");

@font-face {
  font-family: "Inter";
  src: url("https://rsms.me/inter/inter.css");
}

@font-face {
  font-family: "Druk X";
  src: url("/fonts/Druk-XCondSuper.otf");
}

:root {
  --font-stack: Inter, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
  font-family: var(--font-stack);
  font-feature-settings: "ss01", "ss02", "cv01";
}

h1,
h2,
h3,
h4,
h5,
button {
  color: var(--color-foreground);
}

p {
  font-family: var(--font-stack);
  color: var(--color-foreground);
  line-height: 150%;
}

p.small {
  font-size: 0.75rem;
  opacity: 0.5;
}
