@charset "UTF-8";
@import "reset.css";
@import "colors.css";
@import "typography.css";

/* general styles */

h1,
h2,
h3,
h4,
h5,
.stat-block p {
  cursor: default;
}

::-moz-selection {
  background: rgba(255, 255, 0, 0.75);
  color: black;
}
::selection {
  background: rgba(255, 255, 0, 0.75);
  color: black;
}

#explode {
  position: relative;
  overflow: hidden;
}

.particle {
  position: absolute;
  pointer-events: none;
}

.particle::-moz-selection {
  background: none;
}
.particle::selection {
  background: none;
}

html {
  background: black;
  color: var(--color-secondary);
  line-height: 1.4;
  font-size: 16px;
  font-style: normal;
  font-weight: normal;
  text-rendering: optimizeSpeed;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h2,
h3,
h4,
h5,
h6 {
  text-transform: uppercase;
  margin-top: 1rem;
  color: var(--color-primary);
  text-align: center;
  font-family: Druk X;
  padding-top: 3rem;
}

button {
  display: inline-block;
  background-color: var(--color-primary);
  color: var(--color-foreground);
  text-decoration: none;
  padding: 0.75rem 1rem;
  margin: 0.5rem 0.25rem;
  border-radius: 0.5rem;
  vertical-align: middle;
  white-space: nowrap;
  font-weight: 600;
  margin-top: 1rem;
}

button:hover {
  color: var(--color-background);
  background-color: var(--color-positive);
  outline: none;
  cursor: pointer;
}

button:active {
  opacity: 0.85;
}

button:visited {
  color: var(--color-primary-level-4);
}

a {
  color: var(--color-secondary);
}

a:hover {
  cursor: pointer;
  text-decoration: underline;
}
a:active {
  color: var(--color-secondary-level-2);
}

strong {
  font-weight: 800;
  color: var(--color-foreground);
}

hr {
  border: 1px solid var(--color-foreground-level-3);
  margin: 3rem 2rem;
}

header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  max-width: 52rem;
  margin: 0 auto;
  padding: 0 2rem;
}

header > p.white {
  color: var(--color-foreground);
}

header video {
  width: 48px;
  margin: 2rem 0 0 0;
}

header p {
  margin: 1rem 0 0;
  max-width: 44rem;
}

h1 {
  font-family: "Druk X";
  text-align: center;
  font-size: 20vw;
  line-height: 0.85;
  padding: 1rem 0 0.4rem;
  font-weight: normal;
  background: linear-gradient(
    345.28deg,
    var(--color-secondary) 25%,
    var(--color-positive) 41%,
    var(--color-positive) 50%,
    var(--color-primary) 67%
  );
  color: #000;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin-top: 0.5rem;
}

h2 {
  font-family: "Druk X";
  text-align: center;
  font-size: 20vw;
  padding-top: 1rem;
  font-weight: normal;
}

#price {
  font-family: Druk X;
  font-size: 20vw;
  line-height: 1.5vw;
  opacity: 0.2;
}

@media only screen and (min-width: 800px) {
  h1,
  h2 {
    font-size: 200px;
  }

  #price {
    font-size: 300px;
  }
}

.graph {
  max-width: 77.5rem;
  position: relative;
  margin: 2rem auto;
  padding: 0 2rem;
}

#price-prediction {
  max-width: 77.5rem;
}

.ticker {
  position: absolute;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  width: 100%;
  left: 50%;
  transform: translate(-50%, 0);
  top: 2vw;
  height: 100%;
}

.low {
  border-bottom: 2px dotted var(--color-primary);
}

.mean {
  border-bottom: 2px dotted var(--color-secondary);
}

.tv-lightweight-charts {
  margin-bottom: 1em;
}

.startend {
  display: flex;
  justify-content: space-between;
  color: var(--color-primary);
  font-size: 0.75rem;
  text-transform: uppercase;
}

#stats {
  display: flex;
  justify-content: space-between;
  flex-flow: wrap;
  max-width: 77.5rem;
  margin: 3rem auto;
  padding: 0 2rem;
}

.stat-block {
  width: 50%;
  height: 17rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.stat-block:first-child h2,
.stat-block:last-child h2 {
  color: var(--color-positive);
}

.stat-block h2 {
  line-height: 100%;
}

.stat-block * {
  display: flex;
}

#faq,
.meta,
#footer {
  max-width: 42rem;
  margin: 0 auto;
  padding: 0 2rem;
}

h3 {
  font-family: var(--font-stack);
  font-weight: 800;
  font-size: 0.75rem;
  letter-spacing: 0.08rem;
  color: var(--color-foreground-level-4);
  margin: 3rem 0 1rem;
}

.meta h3 {
  padding-top: 0;
}
.meta {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.meta:last-child {
  margin-bottom: 6rem;
}

#footer {
  text-align: center;
}

#footer {
  padding: 4rem 2rem;
}

#footer p {
  margin-bottom: 2rem;
}

#footer a {
  color: var(--color-foreground-level-5);
}

.spinner {
  padding-top: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.spinner video {
  width: 150px;
}

/* FAQ styles */

#faq {
  margin-bottom: 8rem;
}

#faq header {
  margin: 1rem auto 3rem;
}

#faq hr {
  margin: 2rem auto;
}

#faq h3 {
  margin-top: 1rem;
  padding-top: 0;
}

#faq blockquote {
  font-weight: 600;
  border-left: 4px solid var(--color-secondary);
  padding-left: 1rem;
  margin-bottom: 1rem;
}

#faq * {
  margin-bottom: 1rem;
}

#faq ol,
#faq ul {
  list-style: inside;
}

#faq ol > li,
#faq ul > li,
#faq dt,
#faq dd {
  color: var(--color-foreground-level-5);
}

#faq ol > li {
  list-style-type: decimal;
  margin-bottom: 0;
}

#faq ul > li {
  margin-bottom: 0;
}

#faq dt {
  display: list-item;
  list-style-type: disc;
  list-style: inside;
}

#faq dd {
  padding-left: 1.2rem;
}

#faq img {
  max-width: 42rem;
  margin: 0 auto;
  width: 100%;
}

#faq b {
  font-weight: 600;
}
